body{
	background-image: url(../imgs/back.jpg);
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	background-position: 0px -100px;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.outter_wrapper{
	width: 100%;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
}
.topRow{
	margin-top: 17%;
	margin-bottom: 25%;
}
.date_text{
	font-family: 'Oswald', sans-serif;
}
.bottom_wrapper{
	width: 100%;
	background-color: rgba(0,0,0,0.7);
}
.section_title{
	font-family: 'Allerta', sans-serif;

}
.fontWhite{
	color: white;
}