.recent_wrapper{
	width: 100%;
	background-color: #2e2e2e;
}
.title{
	font-family: 'Oswald', sans-serif;
	color: white;
}
.recentRow{
	margin-top: 5%;
	margin-bottom: 5%;
}
.recent_img{
	width: 100%;
}
.series_text{
	font-size: 14px;
	color: white;
}
.series_text:hover{
	text-decoration: none;
	color: white;
}