.outter_wrapper{
	width: 100%;
	background-color: #2e2e2e;
	margin-top: 30px;
}
.video_title{
	color: white;
	font-family: 'Oswald', sans-serif;
	margin-top: 40px;
	margin-bottom: 20px;
}
.youtube_img{
	width: 100%;
}
.videoRow{
	margin-top: 20px;
	margin-bottom: 10px;
}
.video_label{
	color: white;
	padding-top: 10px;

}
.video_label:hover{
	color: white;
	text-decoration: none;
}