#navbar_logo{
	height: 100%;
}
.navbar{
	background-color: rgba(0,0,0,0);
	border-style: none;
	height: 120px;
}
.container-fluid{
	height: 100%;

}
.navbar-header{
	height: 100%;
}
.navbar-brand{
	height: 100%;
}